<h1>Minko's Photography</h1>

<img src="/assets/me.png" alt="Portrait of Minko Gechev" />

<p>
  I'm <a href="https://blog.mgechev.com/about">Minko Gechev</a>, an engineer
  working on the Web. In my spare time, I strive to practice mindful activities,
  including martial arts and photography.
</p>

<p>
  On this website, you can find photos of urban landscapes and nature I take.
  Most of the photography I've done in California, but you may see shots from
  Europe and Asia over time.
</p>

<p>
  If you're interested in purchasing a high-quality print of my work, please get
  in touch with me at <a href="mailto:minko@gechev.io">minko@gechev.io</a>
</p>
