nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  padding: 10px;
  padding-left: 0px;
  padding-right: 10px;
  margin: 30px;
}

.navigation {
  display: flex;
  padding-top: 8px;
}

.logo {
  display: flex;
  flex-direction: row;
}

.brand {
  font-size: 2em;
}

.separator {
  display: block;
  border-left: 1px solid #fff;
  height: 2em;
  margin-left: 20px;
  margin-right: 20px;
}

.target {
  margin-top: 0.5em;
}

footer {
  text-align: center;
  font-size: 1em;
  position: relative;
  margin-top: 60px;
  height: 20px;
}

@media (max-width: 455px) {
  .separator,
  .target {
    display: none;
  }

  nav a {
    padding: 5px;
    margin: 15px;
  }
}
